* {
    font-family: 'Dosis', sans-serif;
}

p {
    font-size: 18px;
}

#header {
    min-height: 500px;
    max-height: 600px;
    /*height: 80%;*/
    /*background: linear-gradient(rgba(44, 131, 190, 0.45), rgba(44, 131, 190, 0.45)),
        url('/images/header.jpg');
    background-size: cover;*/
    background: linear-gradient(rgba(73,155,234,0.80), rgba(73,155,234,0.80)),
        url('/static/images/how.jpg');
    background-size: cover;
    /*background: rgba(73,155,234,1);
background: -moz-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(73,155,234,1) 20%, rgba(73,155,234,1) 32%, rgba(32,124,229,1) 89%, rgba(32,124,229,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(73,155,234,1)), color-stop(20%, rgba(73,155,234,1)), color-stop(32%, rgba(73,155,234,1)), color-stop(89%, rgba(32,124,229,1)), color-stop(100%, rgba(32,124,229,1)));
background: -webkit-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(73,155,234,1) 20%, rgba(73,155,234,1) 32%, rgba(32,124,229,1) 89%, rgba(32,124,229,1) 100%);
background: -o-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(73,155,234,1) 20%, rgba(73,155,234,1) 32%, rgba(32,124,229,1) 89%, rgba(32,124,229,1) 100%);
background: -ms-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(73,155,234,1) 20%, rgba(73,155,234,1) 32%, rgba(32,124,229,1) 89%, rgba(32,124,229,1) 100%);
background: linear-gradient(to right, rgba(73,155,234,1) 0%, rgba(73,155,234,1) 20%, rgba(73,155,234,1) 32%, rgba(32,124,229,1) 89%, rgba(32,124,229,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5', GradientType=1 );*/

    /*text*/
    font-family: 'Dosis', sans-serif;
    color: white;
}

#header-text {
    padding-top: 10%;
}

#header-text > span {
    font-size: 20px;
}

#header-text > h1 {
    font-size: 3em;
}

#header-buttons {
    margin-top: 1em;
}

#header .navbar {
   background-color: transparent;
   background: transparent;
   border-color: transparent;
   color: white;
}

/*.navbar li a { color: #fff }*/
#header .navbar-default .navbar-nav>li>a, #header .navbar-default .navbar-brand {
    color: #fff;
}

.navbar-default .navbar-brand {
    font-size: 25px;
}

.learn-more {
    background-color: transparent;
    border-color: #fff;
}

.learn-more:hover {
    background-color: #fff;
    border-color: #fff;
    color: blue;
}

#whatwedo {
    background-color: #f2f1f8;
    padding: 60px 0px 60px 0px;
    font-family: 'Dosis', sans-serif;
}

.box {
    height: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #fff;
    border-radius: 6px;
    padding: 10px 20px 0px 10px;
}

.box > h2 {
    color: #3f3d4e;
}

.box > p {
    font-size: 18px;
    color: #9d9ab1;
}

#how {
    /*background-color: #3f3d4f;*/
    /*background-color: rgba(73,155,234,1);*/
    /*background: linear-gradient(rgba(73,155,234,0.80), rgba(73,155,234,0.80)),
        url('/images/how.jpg');
    background-size: cover;*/

    background: rgba(73,155,234,1);
    background: -moz-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(73,155,234,1) 20%, rgba(73,155,234,1) 32%, rgba(32,124,229,1) 89%, rgba(32,124,229,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(73,155,234,1)), color-stop(20%, rgba(73,155,234,1)), color-stop(32%, rgba(73,155,234,1)), color-stop(89%, rgba(32,124,229,1)), color-stop(100%, rgba(32,124,229,1)));
    background: -webkit-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(73,155,234,1) 20%, rgba(73,155,234,1) 32%, rgba(32,124,229,1) 89%, rgba(32,124,229,1) 100%);
    background: -o-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(73,155,234,1) 20%, rgba(73,155,234,1) 32%, rgba(32,124,229,1) 89%, rgba(32,124,229,1) 100%);
    background: -ms-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(73,155,234,1) 20%, rgba(73,155,234,1) 32%, rgba(32,124,229,1) 89%, rgba(32,124,229,1) 100%);
    background: linear-gradient(to right, rgba(73,155,234,1) 0%, rgba(73,155,234,1) 20%, rgba(73,155,234,1) 32%, rgba(32,124,229,1) 89%, rgba(32,124,229,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5', GradientType=1 );

    color: #fff;
    padding-top: 50px;
    padding-bottom: 50px;
}

.icon {
    font-size: 50px;
}

#steps {
    margin-top: 3em;
}

#contactus {
    background-color: #f2f1f8;
    padding-top: 3em;
    padding-bottom: 3em;
}

#contactus h1 {
    color: #3f3d4e;
}

#contactus p {
    color: #9d9ab1;
}

.btn-green {
    background-color: #40d47e;
    color: #fff;
}

.btn-green:hover {
    background-color: #27ae60;
    color: #fff;
}

footer {
    background-color: #3f3d4f;
    color: #fff;
    padding-top: 3em;
    padding-bottom: 3em;
}

#social-links > a {
    color: #fff;
    font-size: 4em;
    margin-left: 1em;
    text-decoration: none;
}

#social-links > a:hover {
    color: #a5a4a4;
}

#aboutus > p {
    color: #a5a4a4;
}

#footer-links {
    padding-top: 1em;
}

#footer-links > a {
    display: block;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
}

#footer-links > a:hover {
    color: #a5a4a4;
}



#copyright {
    padding-top: 1em;
    padding-bottom: 1em;
}
