<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>This is new forhundred site</title>
    <link rel="stylesheet" href="/static/libraries/bootstrap/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Didact+Gothic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/icons/styles.css">
    <link rel="stylesheet" href="/static/css/new_style.css">
</head>
<body>
    <div id="header">
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Forhundred</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="/login">Login</a></li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
    </div>

    <h1>Sign up here</h1>
    <div class="container">
        {{if .Error}}
            <p>Check fields again. {{.Error.Message}}</p>
        {{end}}

        <form action="/signup" method="post">
            <div class="form-group">
                <label for="email">Name:</label>
                {{if .Error }}
                    {{if .Fields.name}}
                        <input type="name" class="form-control" id="name" name="name" value="{{.Fields.name}}">
                    {{end}}
                {{else}}
                    <input type="name" class="form-control" id="name" name="name">
                {{end}}
            </div>
            <div class="form-group">
                <label for="email">Email address:</label>
                {{if .Error }}
                    {{if .Fields.email}}
                        <input type="email" class="form-control" id="email" name="email" value="{{.Fields.email}}">
                    {{end}}
                {{else}}
                    <input type="email" class="form-control" id="email" name="email">
                {{end}}
            </div>
            <div class="form-group">
                <label for="pwd">Password:</label>
                <input type="password" class="form-control" id="password" name="password">
            </div>
            <div class="form-group">
                <label for="pwd">Repeat Password:</label>
                <input type="password" class="form-control" id="repeatPassword" name="repeatPassword">
            </div>

            <button type="submit" class="btn btn-default">Signup</button>
        </form>
    </div>

    <div id="copyright" class="text-center">
        <span>Copyright &copy; Forhundred 2016.</span>
    </div>
    <!-- body ends here -->

    <script src="/static/libraries/jquery/jquery.min.js"></script>
	<script src="/static/libraries/bootstrap/bootstrap.min.js"></script>
</body>
</html>
